<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>harvestify.com</title>
  <link rel="stylesheet" href="index1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    <header>

    <div class="topnav">
      <h1 class="logo">
      <a class="navbar-brand" href="/"><img src="../static/logo.png" alt="..." height="40px" width="60px">  
        <b style="font-family: 'Comic Sans MS', cursive;">Harvestify</b></a></h1>
      <a class="active" href="/"> Home</a>
      <a href="yield.html">Crop Yield</a>
      <a href="reccom.html">Crop Recommendation</a>
    </div>

    <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/image2(copy).jpg" class="d-block w-100" alt="Watch2">
                <div class="carousel-caption d-none d-md-block">
                    <h1><b>Optimize Your Harvest</b></h1>
                    <h6>Predict crop yields with precision using "Harvestify"</h6>
                    <br><br><br><br><br>
                  </div>
              </div>
          <div class="carousel-item ">
            <img src="../static/image1(copy).jpg" class="d-block w-100" alt="Watch1">
            <div class="carousel-caption d-none d-md-block">
                <h1><b>Empowering Farmers</b></h1>
                <h6>Our intuitive interface puts powerful crop yield predictions <br>and recommendations at your fingertips</h6>
                <br><br><br><br><br>
              </div>
          </div>
          
          <div class="carousel-item">
            <img src="../static/image3(copy).jpg" class="d-block w-100" alt="Watch3">
            <div class="carousel-caption d-none d-md-block">
                <h1><b>Farming Reinvented</b></h1><h6>Revolutionize your farming approach with cutting-edge<br> technology and predictive analytics</h6><br><br><br><br>
                
          </div>   
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </header>

    
    <div class="responsive-container-block bigContainer" id="missionSection">
     
        <div class="responsive-container-block Container">
          <img class="mainImg" src="../static/harvest.jpeg">
          <div class="allText aboveText"><br>
            
            <p class="text-blk headingText">
                <br> &nbsp;<b> Our Mission</b>
            </p>
            <p class="text-blk subHeadingText">
               <b>"</b>Harvestify: Empowering Farmers with Precision and Sustainability!!<b>"</b>
            </p>
            <p class="text-blk description"><style>p {text-align: justify;}</style>
                At Harvestify, our mission is to revolutionize agriculture through innovative technologies and data-driven solutions. We are committed to empowering farmers worldwide with the tools and insights they need to optimize crop yield and ensure sustainable farming practices.
            </p>
           
          </div>
        </div>
        <div class="responsive-container-block Container bottomContainer" id="serviceSection">
         
          <img class="mainImg" src="../static/harvesting.jpeg">
          <div class="allText bottomText">
            <p class="text-blk headingText">
                  <b>Our Services</b>
            </p>
            <p class="text-blk subHeadingText">
              <b>"</b>Precision,Prediction,Personalized Recommendations with Harvestify!!<b>"</b>
            </p>
            <p class="text-blk description">
                Predict and optimize your crop yield with data-driven insights. Receive personalized recommendations tailored to your farm.
                <br><br>

               <b> Ready to Get Started?</b><br>
                Click below to unlock your farm's full potential.
            </p>
            
            <a href="yield.html">
              <button type="button" class="btn btn-success btn-circle btn-md" style="border-radius: 25px;">Yield Predictor</button>
            </a> 
            &nbsp; &nbsp; 
            <a href="reccom.html">
              <button type="button" class="btn btn-success btn-circle btn-md" style="border-radius: 25px;">Crop Reccomendor</button>
            </a> 
        
          </div>
        </div>
      </div><br><br>

   
     <!-- contact us -->
     <div class="background" id="contactSection">
      <div class="container">
        <div class="screen">
          <div class="screen-header">
            <div class="screen-header-left">
              <div class="screen-header-button close"></div>
              <div class="screen-header-button maximize"></div>
              <div class="screen-header-button minimize"></div>
            </div>
            <div class="screen-header-right">
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
            </div>
          </div>
          <div class="screen-body">
            <div class="screen-body-item left">
              <div class="app-title">
                <span>CONTACT</span>
                <span>US</span>
              </div>
             
            </div>
            <div class="screen-body-item">
              <div class="app-form">
                <div class="app-form-group">
                  <input class="app-form-control" placeholder="NAME" required>
                </div>
                <div class="app-form-group">
                  <input type="email" class="app-form-control" placeholder="EMAIL" required>
                </div>
                <div class="app-form-group">
                  <input type="tel" class="app-form-control" id="phone" pattern="^\d{3}-\d{3}-\d{4}$" placeholder="CONTACT INFO" required>
                </div>
                <div class="app-form-group message">
                  <input class="app-form-control" placeholder="MESSAGE/QUERIES" required>
                </div>
                <div class="app-form-group buttons">
                  <button class="app-form-button" id="cancelButton">CANCEL</button>
                  <button class="app-form-button" id="sendButton">SEND</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <script>
          document.getElementById('sendButton').addEventListener('click', function() {
              alert('Message sent successfully');
          });
          document.getElementById("cancelButton").addEventListener("click", function() {
        // Get all input fields within the form and clear their values
        const inputs = document.querySelectorAll('.app-form-control');
        inputs.forEach(input => {
            input.value = ''; // Clear each input field
        });
    });
      </script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>   
        </div>
      </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="../static/index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    
  

</body>
 <!--Footer-->
<br><br><br>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <h3>Company Name</h3>
        <p style="color:rgb(224, 224, 224);"> &copy;Harvestify</p>
      </div>
      <div class="footer-center"><br><br>
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#missionSection">About Us</a></li>
          <li><a href="#serviceSection">Services</a></li>
          <li><a href="#contactSection">Contact</a></li>
        </ul>
      </div>
      <div class="footer-right">
        <h3>Connect with Us</h3>
        
        <p style="color:rgb(203, 203, 203);"> Email: harvestify012@gmail.com </p>
        <p style="color:rgb(203, 203, 203);">Phone: +91-34567390</p>
      </div>
    </div>

  </footer>

  
</html>
