body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #0d3802;
  }
  
  .topnav a {
    float: left;
    color: #d5d4d4;
    text-align: center;
    padding: 18px 12px;
    padding-top: 20px;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #bab9b9;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: #04AA6D;
    color: white;
  }

  /* Carousal Slider*/
  .carousel-item{height: 450px;}


  /*About Us*/

  * {
    font-family: Nunito, sans-serif;
  }
  
  .responsive-container-block {
    min-height: 20px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
 
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
 
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
  }
  
  .mainImg {
    color: black;
    width: 40%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.headingText {
    font-size: 25px;
    font-weight: 700;
    
    color: rgb(51, 51, 51);
    padding-top: 0px;
    padding-right: 10px;
    
   
  }
  
  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    width: 50%;
    margin: 0 0 0 0;
  }
  
  .text-blk.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .text-blk.description {
    font-size: 20px;
    line-height: 30px;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  
  .explore {
    font-size: 20px;
    line-height: 26px;
    color: rgb(255, 255, 255);
    background-color: rgb(88, 166, 249);
    padding-top: 8px;
    padding-right: 37px;
    padding-bottom: 8px;
    padding-left: 37px;
   
   
    border-top-color: rgb(112, 165, 245);
    border-right-color: rgb(114, 157, 244);
    border-bottom-color: rgb(128, 164, 248);
    border-left-color: rgb(125, 168, 241);
    
    cursor: pointer;
    border-radius: 70px;
  }
  
  .explore:hover {
    
    background-color: rgb(255, 235, 234);
    color: rgb(244, 152, 146);
  }
  
  .responsive-container-block.Container {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    flex-direction: row-reverse;
    margin: 10px auto 50px auto;
  }
  
  .allText.aboveText {
    margin: 0 0 0 10px;
  }
  
  .allText.bottomText {
    margin: 0 10px 0 0;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      max-width: 850px;
    }
  
    .mainImg {
      width: 55%;
      height: auto;
    }
  
    .text-blk.description {
      font-size: 20px;
      text-align: justify;
    }
  
    
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  
    .text-blk.subHeadingText {
      font-size: 22px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin: 10px auto 10px auto;
    }
  
    .responsive-container-block.Container {
      max-width: 830px;
    }
  
    .allText.aboveText {
      margin: 10px 0 0 10px;
    }
  
    .allText.bottomText {
      margin: 10px 40px 0 0;
    }
  }
  
  @media (max-width: 768px) {
    .mainImg {
      width: 90%;
    }
  
    .allText {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .responsive-container-block.Container {
      flex-direction: column;
      height: auto;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .text-blk.subHeadingText {
      text-align: center;
      font-size: 25px;
    }
  
    .text-blk.description {
      text-align: center;
      font-size: 25px;
    }
  
    .allText {
      margin-top: 10px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .allText.aboveText {
      margin: 10px 0 0 0;
    }
  
    .responsive-container-block.Container {
      margin: 8px auto 5px auto;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin: 5px auto 5px auto;
    }
  
    .allText.bottomText {
      margin: 10px 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.Container {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      max-width: 100%;
    }
  
    
    
  
    .text-blk.subHeadingText {
      font-size: 25px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .text-blk.description {
      font-size: 25px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .allText {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
    }
  }
  /*Contact us*/
  *, *:before, *:after {
  box-sizing: border-box;
  
}

body {
  background: linear-gradient(to right, #f6f0dd 0%, #fcfbfa 100%);
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 80vh;
}

.container {
  flex: 0 1 700px;
  margin: 0;
  padding: 0;
}

.screen {

  background: #dceff2;
  border-radius: 5px;
}

.screen:after {
  content: '';
  display: block;

  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(80, 81, 85, 0.1);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: rgb(231, 90, 90);
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 20px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}



.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #080600;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #f72525;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 10px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #5153b2;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #3b38d2;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .screen-body {
    padding: 10px;
  }

  .screen-body-item {
    padding: 0;
  }
}
/* Footer*/
/* .footer {
  .footer {
    background-color: #efe9e9b9;
    color: #edebeb;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px; /* Adjust height as needed */
   
  
  .footer-container {
    background-color: #353535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-bottom: 25px;
  
  
    height: 50%;
    /* Adjust padding as needed */
  }
  
  h3 {
    color: #0b02a5;
    margin: 0;
  }
  
  .footer-left, .footer-center, .footer-right {
    flex: 1;
  }
  
  .footer-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-center ul li {
    margin-bottom: 10px;
  }
  
  .footer-center ul li a {
    color: #d8d7d7;
    text-decoration: none;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #19ec8d;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  
  

